html {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
  background-color: white;
}

.backgroundimgdiv{
  width: 130px;
  height: 130px;
  margin-left: 25vw;
  margin-top: 8vh;
  background-image: url(/img/logo.png);
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
  margin-bottom: 4vh;
  background-repeat: no-repeat;
  display: flex;
  z-index: 10;

}

.backgroundimgdiv h1{
  color: white;
  font-size: 3vh;
  margin-left: 10%;
  top: 1vh;
  text-shadow: 2px 2px 3px black;
  
} 



.bodydiv{
  position: absolute;
  margin-left: 28%;
  /* background-color: aqua; */
  display: flex;
  height: 900px;
  width:45vw;
  flex-direction: column;
  z-index: 1;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 'Lucida Sans';
  
  
}

.bodydiv img{
  width: 6vw;
  height: 6vw;
  margin-bottom: 2vh;
  margin-top: 7vh;
  margin-left: 5vw;
  padding-bottom: 180px;

}

.bodydiv p{
  font-size: 55%;

}


.div1{
  display: flex;
  flex-wrap: wrap;
  height: 20vh;
  width: 38vw;
  text-align: center;
  /* background-color: blue; */
  margin-left: 5%;
  margin-top: 8vh;
  text-align: center;
 

}

.div1 p{
  
  margin-top: -3vh;
  margin-left: 4vw;
  margin-bottom: -5vh;
}


h1{
  font-size: 6vh;
  margin-left:  23%;
  margin-bottom: 0;
  margin-top: -1vh;
  padding-top: 8px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  
}

button{
  font-size: 55%;
}

nav{
  width: 30vw;
  margin-bottom: -7vh;
  margin-left: 6vw;
}

ul {
  display: flex;
  float: left;

}


li {
  list-style: none;
  padding-left: 1vw;
  font-size: small;
}

a {
  text-decoration: none;
  color: black;

}

label{
  font-size: 55%;
}

.formdiv{
  display: flex;
  gap: 10px;
  
}

.buttondiv{
  display: flex;
  flex-direction: column;
  gap: 5px;
}




.div2{
  height: 30vh;
  width: 45vw;
  /* background-color: orange; */
  margin-top: 2vh;
  display: flex;
  
}

.div3{
  width: 30vw;
}

.div4{
  width: 32vw;
  margin-left: 4vw;
}

.div2 h2{
  font-size: 2vh;

}

hr {
    border: 2px;
    height: 1px;
    background: linear-gradient(to right,rgba(0,0,0,9),rgba(0,0,0,9),rgba(0,0,0,9))
}







.backgroundtop{
  width: 807px;
  height: 200px;
  position: absolute;
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.164)), url(/img/top-image.png);

  background-repeat: no-repeat;
  top: 0px;
  left: 260px;
  color: black;
  background-position-y: 0;
  background-position-x: center;
  z-index: 0;
  
}


.backgroundbottom{
  width: 807px;
  height: 200px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.164)), url(/img/bottom-image.png);
  background-repeat: no-repeat;
  bottom: 0px;
  color: black;
  position: absolute;
  left: 260px;
  top: 830px;

  background-position-y: bottom;
  background-position-x: center;
  z-index: 0;
  
}

.backgroundbottom2{
  padding-bottom: 300px
}

.bottomtext{
  width: 140px;
  height: 110px;
  position: absolute;
  top: 890px;
  font-size: 70%;
  right: 320px;
}

